.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  gap: 20px;
  padding: 0;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 19px;
  max-width: 260px;
  background-color: #fff;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  line-height: 21px;
  margin-top: 10px;
  color: #333;
  text-align: left;
  min-height: 90px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.product-price {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

.add-to-cart-button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  height: 42px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: Roboto;
  font-size: 14px;
}

.not-in-cart {
  background-color: #ff4081;
  color: #fff;
}

.not-in-cart:hover {
  background-color: #e7326f;
}

.in-cart {
  background-color: #ddd;
  color: #000000;
}

.in-cart:hover {
  background-color: #bbb;
}

.left-space-in-button {
  width: 53px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c62c4a;
}

.right-space-in-button {  
  flex: 1;
  height: 42px;
  width: calc(260px - 53px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}